body{
    font-family: Arial, sans-serif;
    background: #d2f0ff;
    text-align: center;
    padding: 20px;
}
.entry-form{
    background: #ffffff;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea, button {
    width:90%;
    margin: 8px 0;
    padding: 8px;
}

#calendar{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.day{
    background: #eee;
    padding: 15px;
    border-radius: 6px;
    min-height: 60px;
    font-size: 12px;
    position: relative;
}
.day span{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 10px;
}